<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roupas Masculinas</title>
    <link rel="stylesheet" href="./../../static/css/masculino.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="./inicio.html">Início</a></li>
            <li><a href="./base.html">Cadastro</a></li>
            <li><a href="./login.html">Login</a></li>
            <li><a href="./home.html">Cadastro de Roupas</a></li>
            <li><a href="./../roupas/feminino.html">Roupas Femininas</a></li>
            <li><a href="./../roupas/masculino.html">Roupas Masculinas</a></li>
            <li><a href="./roupas.html">Roupas</a></li>
        </ul>
    </nav>
    
</body>
</html>