body{
    background-color: #f0f0f0;
}
#presentation-box {
width: 80%;
max-width: 600px;
margin: 20px auto; /* Diminui a margem superior para 20px e centraliza o "quadradinho" horizontalmente */
padding: 20px;
background-color: #f3e5f5;
border: 1px solid #ccc;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
font-family: Arial, sans-serif;
color: #333;
}

#presentation-box h1 {
font-size: 24px;
margin-bottom: 10px;
}

#presentation-box p {
font-size: 16px;
line-height: 1.5;
}

#presentation-box ul {
padding-left: 20px;
}

#presentation-box ul li {
margin-bottom: 10px;
}
h1{
color: #000000; /* Preto */
font-weight: bold; /* Negrito */
}
/* estilos existentes */

nav {
background-color: #333;
color: white;
padding: 10px 0;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}

nav ul li {
margin: 0 15px;
}

nav ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}

nav ul li a:hover {
text-decoration: underline;
}